/* Spacing */
$space: 1.5em;
$space-lg: 2em;

/* Dark color palette. White overlay. */
$default: slategray;
$primary: steelblue;
$secondary: teal;
$danger: crimson;
$warning: tomato;
$success: mediumseagreen;
$golden: darkkhaki;

/* Light color palette. Black overlay. */
$default-light: whitesmoke;
$primary-light: lightsteelblue;
$secondary-light: lightcyan;
$danger-light: lightpink;
$success-light: honeydew;
$warning-light: moccasin;
$golden-light: floralwhite;
