*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  height: 100%;
  color: black;
  font: 'Open Sans', sans-serif;
  font-size: 18px;
  line-height: 1.38;
  font-weight: 400;
  text-rendering: optimizeLegibility;
}

@media (--high-dppx) {
  html {
    font-weight: 300;
  }
}

h1 {
  font-weight: 300;
  font-size: 2em;
  -webkit-font-kerning: normal;
  letter-spacing: -0.015em;
  line-height: 1;
  margin: 0.25em 0 0.75em;
}

@media (--break-lg) {
  h1 {
    font-size: 2.5em;
    margin: 0.5em 0 1em;
  }
}

h2 {
  font-size: 1.333em;
  font-weight: 600;
  margin: 0 0 calc(1.5em / 1.333);
}

h3 {
  font-size: 1em;
  font-weight: 600;
  margin: 0 0 1.5em;
}

p,
pre {
  margin: 0 0 1.5em;
}

code,
pre {
  font-family: 'Menlo', 'Monaco', monospace;
  font-size: 0.6em;
}

pre {
  white-space: pre-wrap;       /* css-3 */
  word-wrap: break-word;
}

@media (--break-lg) {
  code,
  pre {
    font-size: 0.8em;
  }
}

code {
  font-weight: normal;
  color: #000;
}

pre > code {
  font: inherit;
  color: inherit;
}

a {
  color: steelblue;
  text-decoration: none;
}

a:focus,
a:hover {
  border-bottom: 1px solid steelblue;
}

ol,
ul {
  list-style: square;
  margin: 0 0 1.5em;
  padding: 0 0 0 1.5em;
}

li {
  margin-bottom: 0.333em;
}

figure {
  margin: 0;
}

strong {
  font-weight: 600;
}
