.primary-text { color: $primary; }
.danger-text { color: $danger; }
.warning-text { color: $warning; }
.success-text { color: $success; }
.golden-text { color: $golden; }
.secondary-text { color: $secondary; }
.default-text { color: $default; }
.black-text { color: black; }
.white-text { color: white; }
