.badge {
  padding: 0.1em;
  border: 0;
  border-radius: 5px;
  margin: 3px;
  font-size: 1.2em;
  font-weight: normal;
  text-align: center;
  line-height: normal;
  text-decoration: none;
  white-space: nowrap;
  user-select: none;

  &.default { @mixin colorize-badge $default; }
  &.primary { @mixin colorize-badge $primary; }
  &.secondary { @mixin colorize-badge $secondary; }
  &.warning { @mixin colorize-badge $warning; }
  &.danger { @mixin colorize-badge $danger; }
  &.success { @mixin colorize-badge $success; }
  &.golden { @mixin colorize-badge $golden; }

  &.large {
    padding: 0.4em;
    font-size: 1.6em;
  }

  &.medium {
    padding: 0.2em;
    font-size: 1.4em;
  }

  &.small {
    padding: 0.05em;
    font-size: 1em;
  }
}
