.header {
  padding: 1em;
}

.header-title {
  font-size: 1em;
  line-height: 1;
}

.header-title a {
  border: 0;
  color: inherit;
  font-weight: inherit;
}

.header-title a:focus,
.header-title a:hover,
.header-title a:active {
  text-decoration: none;
}
