.image {
  display: block;
  width: 100%;
  height: auto;
  margin-top: 0.2em;
}

.image-link {
  transition: opacity 0.5s ease;
  &:hover {
    opacity: 0.8;
    border-bottom: 0;
  }
}

.image-tiny {
  width: 30px;
}
