.navigation {
  list-style: none;
  background: black;
  margin: 0;
  padding-right: 10px;
  padding-bottom: 5px;
}

.sidenav {
  list-style: none;
  background: $default-light;
  margin: 0;
  padding-right: 10px;
  text-align: left;
  padding-bottom: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
  border-top: 1px dashed $default;
  border-bottom: 1px dashed $default;
}

.navigation-link {
  text-decoration: none;
  border-bottom: none !important;
  color: white;
  font-size: 18px;
  transition: 0.5s color;
  &:hover {
    color: color(white shade(20%));
  }
  &.active {
    color: color(white shade(20%));
  }
}

.sidenav-link {
  border-bottom: none;
  border-bottom: 1px solid $golden-light;
  color: $primary;
  &:hover {
    border-bottom: 1px solid $primary;
  }
  &.active {
    border-bottom: 1px solid $primary;
  }
}

.navigation-brand {
  font-weight: bold;
}

.call-to-action {
  font-size: 12px;
  margin-top: 10px;
}

.call-to-action-ibooks {
  font-size: 12px;
  margin-top: 0;
}
