.workflow {
  background: white;
}

.workflow-scenario {
  color: white;
  background: $primary;
  font-size: 1.2em;
  line-height: 25px;
  padding: 2px;
}

.workflow-text {
  color: black;
  font-size: 1.2em;
  text-align: left;
  margin-top: 5px;
  min-height: 170px;
  padding: 2px;
}

.workflow-steps {
  background: white;
  line-height: 40px;
  color: black;
}
