.stack {
  padding: 0;
  margin: 0;

  list-style: none;

  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.card-theme {
  color: $black;
  background: $fadesand;
  padding: 5px;
  margin: 5px;

  font-weight: normal;
  line-height: $normal-line-height;
  font-size: $normal-font-size;
  text-align: center;

  box-shadow: 1px 1px 1px 0px rgba(87,87,87,1);
}

.card {
  @extend .card-theme;
  width: 200px;
  height: 150px;
}

.card-2w {
  @extend .card-theme;
  width: 430px;
  height: 150px;
}

.card-2x {
  @extend .card-theme;
  width: 430px;
  height: 330px;
}


.message {
  background: $yellow;
  cursor: pointer;

  transition: background 2s;
  &:hover {
    background: $green;
  }
}

.demo {
  background: $fadesand;
}

@media all and (max-width: 800px) {
  .card, .card-2w, .card-2x {
    width: 100%;
  }
}
@media all and (max-width: 600px) {
  .card, .card-2w, .card-2x {
    width: 100%;
  }
}
