.navigation {
  list-style: none;
  margin: 0px;
  background: $blue;

  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;

  .brand {
    font-weight: bolder;
  }

  a {
    text-decoration: none;
    display: block;
    padding: 0.5em;
    color: $white;

    &:hover {
      background: $fadeblue;
    }

  }
}

@media all and (max-width: 800px) {
  .navigation {
    justify-content: space-around;
  }
}
@media all and (max-width: 600px) {
  .navigation {
    flex-flow: column wrap;
    padding: 0;

    a {
      text-align: center;
      padding: 10px;
      border-top: 1px solid rgba(255, 255, 255, 0.3);
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }

    li:last-of-type a {
      border-bottom: none;
    }
  }
}
