/* Primary color palette */

$white:     floralwhite;
$blue:      color(deepskyblue lightness(30%));
$red:       tomato;
$yellow:    wheat;
$black:     #4D4E53; /* charcoal gray */
$green:     mediumaquamarine;

/* Secondary colors */

$fadeblue:  color(deepskyblue saturation(30%));
$lightblue: color(deepskyblue lightness(80%));
$fadesand:  color(wheat saturation(30%));
$sand:      color(wheat lightness(80%));
$gray:      color($black lightness(80%));

/* Page styles */

$font-stack:      Arial, Helvetica, sans-serif;
$page-background: $white;
$page-padding:    2em;

/* Base typography */

$h1-font-size: 3em;
$h2-font-size: calc( $h1-font-size * 80 / 100 );
$h3-font-size: calc( $h1-font-size * 60 / 100 );
$h4-font-size: calc( $h1-font-size * 40 / 100 );
$normal-font-size: calc( $h1-font-size * 33.3 / 100 );

$h1-line-height: 50px;
$h2-line-height: calc( $h1-line-height * 80 / 100 );
$h3-line-height: calc( $h1-line-height * 60 / 100 );
$h4-line-height: calc( $h1-line-height * 40 / 100 );
$normal-line-height: calc( $h1-line-height * 33.3 / 100 );

$heading-color:     $black;
$normal-font-color: $black;
$link-color:        $blue;

/* Text color styles */

.blue { color: $blue; }
.red { color: $red; }
.white { color: $white; }
.black { color: $black; }
.green { color: $green; }
.yellow { color: $yellow; }
.sand { color: $sand; }
.gray { color: $gray; }
.fadeblue { color: $fadeblue; }
.fadesand { color: $fadesand; }
.lightblue { color: $lightblue; }
