.wrapper {
  display: flex;

  flex-flow: row wrap;
}

.wrapper > * {
  padding: 10px;
  flex: 1 100%;
}

.header {
  background: $lightblue;
}

.footer {
  background: $lightblue;
}

.main {
  text-align: left;
  background: $white;
}

.aside-1 {
  background: $fadesand;
  width: 200px;
}

.aside-2 {
  background: $sand;
  width: 200px;
}

@media all and (min-width: 600px) {
  .aside {
    flex: 1 auto;
  }
}
@media all and (min-width: 800px) {
  .main {
    flex: 6 0px;
  }

  .aside-1 {
    order: 1;
  }

  .main {
    order: 2;
  }

  .aside-2 {
    order: 3;
  }

  .footer {
    order: 4;
  }
}
