p {
  color: $normal-font-color;
  font-size: $normal-font-size;
  line-height: $normal-line-height;
}

.heading {
  color: $heading-color;
  font-weight: lighter;
  text-shadow: 0 1px 0 $white;
}

a {
  color: $link-color;
  text-decoration: none;
  font-weight: lighter;

  &:hover {
    text-decoration: underline;
  }
}

h1 {
  @extend .heading;
  font-size: $h1-font-size;
  line-height: $h1-line-height;
}

h2 {
  @extend .heading;
  font-size: $h2-font-size;
  line-height: $h2-line-height;
}

h3 {
  @extend .heading;
  font-size: $h3-font-size;
  line-height: $h3-line-height;
}

h4 {
  @extend .heading;
  font-size: $h4-font-size;
  line-height: $h4-line-height;
}
