.grid {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;

  &.top {
    align-items: flex-start;
  }

  &.bottom {
    align-items: flex-end;
  }

  &.center {
    align-items: center;
  }

  &.justify-center {
    justify-content: center;
  }
}

.grid-cell {
  flex: 1;

  &.top {
    align-self: flex-start;
  }

  &.bottom {
    align-self: flex-end;
  }

  &.center {
    align-self: center;
  }

  &.auto-size {
    flex: none;
  }
}

.grid-flex-cells > .grid-cell {
  display: flex;
}

.grid-fit > .grid-cell {
  flex: 1;
}

.grid-full > .grid-cell {
  flex: 0 0 100%;
}

.grid-1of2 > .grid-cell {
  flex: 0 0 50%;
}

.grid-1of3 > .grid-cell {
  flex: 0 0 33.3333%;
}

.grid-1of4 > .grid-cell {
  flex: 0 0 25%;
}

@media (--break-sm) {
  .small-grid-fit > .grid-cell {
    flex: 1;
  }
  .small-grid-full > .grid-cell {
    flex: 0 0 100%;
  }
  .small-grid-1of2 > .grid-cell {
    flex: 0 0 50%;
  }
  .small-grid-1of3 > .grid-cell {
    flex: 0 0 33.3333%;
  }
  .small-grid-1of4 > .grid-cell {
    flex: 0 0 25%;
  }
}

@media (--break-md) {
  .med-grid-fit > .grid-cell {
    flex: 1;
  }
  .med-grid-full > .grid-cell {
    flex: 0 0 100%;
  }
  .med-grid-1of2 > .grid-cell {
    flex: 0 0 50%;
  }
  .med-grid-1of3 > .grid-cell {
    flex: 0 0 33.3333%;
  }
  .med-grid-1of4 > .grid-cell {
    flex: 0 0 25%;
  }
}

@media (--break-lg) {
  .large-grid-fit > .grid-cell {
    flex: 1;
  }
  .large-grid-full > .grid-cell {
    flex: 0 0 100%;
  }
  .large-grid-1of2 > .grid-cell {
    flex: 0 0 50%;
  }
  .large-grid-1of3 > .grid-cell {
    flex: 0 0 33.3333%;
  }
  .large-grid-1of4 > .grid-cell {
    flex: 0 0 25%;
  }
}

.grid-gutters {
  margin: -1em 0 1em -1em;
}

.grid-gutters > .grid-cell {
  padding: 1em 0 0 1em;
}

.grid-gutters-lg {
  margin: -1.5em 0 1.5em -1.5em;
}

.grid-gutters-lg > .grid-cell {
  padding: 1.5em 0 0 1.5em;
}

.grid-gutters-xl {
  margin: -2em 0 2em -2em;
}

.grid-gutters-xl > .grid-cell {
  padding: 2em 0 0 2em;
}

@media (--break-sm) {
  .small-grid-gutters {
    margin: -1em 0 1em -1em;
  }
  .small-grid-gutters > .grid-cell {
    padding: 1em 0 0 1em;
  }
  .small-grid-gutters-lg {
    margin: -1.5em 0 1.5em -1.5em;
  }
  .small-grid-gutters-lg > .grid-cell {
    padding: 1.5em 0 0 1.5em;
  }
  .small-grid-gutters-xl {
    margin: -2em 0 2em -2em;
  }
  .small-grid-gutters-xl > .grid-cell {
    padding: 2em 0 0 2em;
  }
}

@media (--break-md) {
  .med-grid-gutters {
    margin: -1em 0 1em -1em;
  }
  .med-grid-gutters > .grid-cell {
    padding: 1em 0 0 1em;
  }
  .med-grid-gutters-lg {
    margin: -1.5em 0 1.5em -1.5em;
  }
  .med-grid-gutters-lg > .grid-cell {
    padding: 1.5em 0 0 1.5em;
  }
  .med-grid-gutters-xl {
    margin: -2em 0 2em -2em;
  }
  .med-grid-gutters-xl > .grid-cell {
    padding: 2em 0 0 2em;
  }
}

@media (--break-lg) {
  .large-grid-gutters {
    margin: -1em 0 1em -1em;
  }
  .large-grid-gutters > .grid-cell {
    padding: 1em 0 0 1em;
  }
  .large-grid-gutters-lg {
    margin: -1.5em 0 1.5em -1.5em;
  }
  .large-grid-gutters-lg > .grid-cell {
    padding: 1.5em 0 0 1.5em;
  }
  .large-grid-gutters-xl {
    margin: -2em 0 2em -2em;
  }
  .large-grid-gutters-xl > .grid-cell {
    padding: 2em 0 0 2em;
  }
}
