@define-mixin colorize $bg {
  background: $(bg);
  color: white;
  &:active,
  &:focus,
  &:hover {
    border: 0;
    background: color($(bg) tint(20%));
    text-decoration:none;
  }
}

.button {
  transition: background-color 0.2s;
  display: inline-block;
  padding: 0.6em 1em;
  margin: 0.3em;
  border: 0;
  border-radius: 2px;
  cursor: pointer;
  font-size: 0.8125em;
  font-weight: 300;
  line-height: normal;
  text-decoration: none;
  white-space: nowrap;
  &:focus {
    outline: none;
    text-decoration:none;
  }

  &.default { @mixin colorize $default; }
  &.primary { @mixin colorize $primary; }
  &.secondary { @mixin colorize $secondary; }
  &.warning { @mixin colorize $warning; }
  &.danger { @mixin colorize $danger; }
  &.success { @mixin colorize $success; }
  &.golden { @mixin colorize $golden; }

  &.large {
    padding: 1em;
    font-size: 1em;
  }

  &.medium {
    padding: 0.75em;
    font-size: 0.75em;
  }

  &.small {
    padding: 0.5em;
    font-size: 0.5em;
  }

}
