.header {
  padding: 1.5em;
  background-color: rgba(147, 128, 108, 0.1);
  text-align: center;
}
@media (--break-lg) {
  .header {
    padding: 3em 1.5em;
  }
}

.header-title {
  margin: 0 0 0.15em;
  font-size: 1.8em;
  font-weight: 600;
  line-height: 1;
  word-spacing: 0.08em;
}
.header-title i {
  font-family: serif;
  font-style: italic;
  font-weight: 400;
}
.header-title a {
  border: 0;
  color: inherit;
  font-weight: inherit;
}
.header-title a:focus, .header-title a:hover, .header-title a:active {
  text-decoration: none;
}
@media (--break-lg) {
  .header-title {
    font-size: 4em;
  }
}

.header-subtitle {
  margin: 0 0 1.5em;
  font-size: 0.8em;
  font-weight: 300;
  white-space: nowrap;
}
@media (--break-lg) {
  .header-subtitle {
    margin: 1em 0 1.75em;
    font-size: 1.1em;
  }
}

.header-actions {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  font-size: 0.9em;
}
@media (--break-sm) {
  .header-actions {
    align-items: center;
    flex-direction: row;
    justify-content: center;
  }
}
@media (--break-lg) {
  .header-actions {
    font-size: 1.1em;
  }
}

.header-button:first-child {
  margin: 0 0 1em;
}
@media (--break-sm) {
  .header-button:first-child {
    margin: 0 1em 0 0;
  }
}

@media (--break-lg) {
  .header-cozy {
    display: flex;
    padding: 1.5em;
    align-items: center;
  }
  .header-cozy .header-titles {
    display: flex;
    align-items: baseline;
  }
  .header-cozy .header-title {
    font-size: 1.5em;
  }
  .header-cozy .header-subtitle {
    margin: 0 0 0 1em;
    font-size: 0.8em;
    font-weight: 300;
    color: gray;
  }
  .header-cozy .header-actions {
    flex: 1;
    justify-content: flex-end;
    font-size: 0.9em;
  }
}
