.image {
  display: block;
  width: 100%;
  height: auto;
  margin-top: 0.2em;
}

.image-link {
  transition: 2s opacity;
  &:hover {
    opacity: 0.5;
    border-bottom: 0;
  }
}

.image-tiny {
  width: 30px;
}
